@import 'normalize';
// @import 'functions';
// @import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap&subset=cyrillic');

html {
  scroll-behavior: smooth;
  * {
    font-family: 'Roboto', sans-serif;
  }

  font-size: 10px;
  box-sizing: border-box;

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    font-size: calc((100vw / 320) * 10);
  }

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: calc((100vw / 768) * 10);
  }

  @media only screen and (min-width: 1280px) and (max-width: 1599px) {
    font-size: calc((100vw / 1280) * 10);
  }

  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    font-size:  calc((100vw / 1600) * 10);
  }

  @media only screen and (min-width: 1920px) {
    font-size:  10px;
  }
}

*:lang(en) q { quotes: "\201C" "\201D" "\2018" "\2019"; }
*:lang(uk) q { quotes: "\201E" "\201C"; }
*:lang(ru) q { quotes: "\00AB" "\00BB" "\201E" "\201C"; }